@mixin btn($color) {
    @if (lightness( $color ) > 50) {
        $text-color: darken($color, 47%);
        color: $text-color;
    }
    @else {
        $text-color: lighten($color, 47%);
        color: $text-color;
    }
    background: $color;
    border-color: transparent;

    &:hover,
    &:focus,
    &.cb-active,
    &:hover.cb-a::before,
    &:focus.cb-a::before  {
        background: lighten($color, 7%);
    }
    &:hover.cb-a,
    &:focus.cb-a  {
        background: $color;
    }
    &:hover.cb-a::before,
    &:focus.cb-a::before  {
        top:0;
        left:0;
    }

    &.cb-g {
        @include gradient($color);
    }

    &:hover.cb-g,
    &:focus.cb-g,
    &.cb-active.cb-g {
        @include gradient(lighten($color, 7%));
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin gradient($color) {
    $darken: darken($color, 10%);

    background: -moz-linear-gradient(top, $color 0%, $darken 100%);
    background: -webkit-linear-gradient(top, $color 0%, $darken 100%);
    background: linear-gradient(to bottom, $color 0%, $darken 100%);
}

.css-btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    position: relative;
    overflow: hidden;
    font-family: Arial;
    font-size: 14px;
    @include btn(#ffffff);
    border: 1px solid #d4d4d4;
    // text-shadow: -1px -1px 0 rgba(0,0,0,0.3);

    //Shadow
    &.cb-shadow{
        box-shadow: 1px 1px 1px #000;
    }

    &:hover,
    &:focus {
    }

    &:focus {
        outline: none;
    }

    &:active,
    &.cb-active {
        box-shadow: inset 1px 1px 3px #444424;
    }

    //Colors
    &.css-btn-black {
        @include btn(#464646);
    }
    &.css-btn-green {
        @include btn(#2DAF94);
    }
    &.css-btn-blue {
        @include btn(#007FFF);
    }
    &.css-btn-red {
        @include btn(#B01C33);
    }

    // Border Radiuses
    &.css-br {
        @include border-radius(3px);
    }
    &.css-br-lg {
        @include border-radius(10px);
    }
    &.css-br-cc {
        @include border-radius(50%);
        padding: 10px 14px 10px 14px;
    }

    //Sizes
    &.css-btn-sm {
        font-size: 11px;
        padding: 8px;
    }
    &.css-btn-sm.css-br-cc {
        padding: 8px 11px 8px 11px;
    }
    &.css-btn-lg {
        font-size: 17px;
        padding: 12px;
    }
    &.css-btn-lg.css-br-cc {
        padding: 13px 17px 11px 17px;
    }

    //Animation
    &.cb-at::before,
    &.cb-al::before {
        content: ' ';
        position: absolute;
        top: -200px;
        left: -200px;
        right: 0;
        height: 200px;
        width: 200px;
        opacity: 0.4;
    }
    &.cb-at::before {
        transition: top 1.4s;
    }
    &.cb-al::before {
        transition: left 1.4s;
    }
}

.cb-group {
    display: flex;
    flex-direction: row;

    &.cb-shadow{
        box-shadow: 1px 1px 1px #000;
    }

    .css-btn {
        margin: 0 !important;
        border: 1px solid #d0d0d0;

        &.cb-shadow{
            box-shadow: none;
        }

        &:active,
        &.cb-active {
            border-left: 1px solid transparent;
        }

        &:first-child:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px !important;
        }

        &:not(:first-child):not(:last-child) {
            margin-left: -1px !important;
            border-radius: 0;
        }
    }
}
