@mixin btn($color) {
    @if (lightness( $color ) > 50) {
        $text-color: darken($color, 47%);
        color: $text-color;
    }
    @else {
        $text-color: lighten($color, 47%);
        color: $text-color;
    }
    background: $color;
    border-color: transparent;

    &:hover,
    &:focus,
    &.cb-active,
    &:hover.a-fw::before,
    &:focus.a-fw::before  {
        background: lighten($color, 7%);
    }
    &:hover.a-fw,
    &:focus.a-fw  {
        background: $color;
    }
    &:hover.a-fw::before,
    &:focus.a-fw::before  {
        top:0;
    }

    &.cb-g {
        @include gradient($color);
    }

    &:hover.cb-g,
    &:focus.cb-g,
    &.cb-active.cb-g {
        @include gradient(lighten($color, 7%));
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin gradient($color) {
    $darken: darken($color, 10%);

    background: -moz-linear-gradient(top, $color 0%, $darken 100%);
    background: -webkit-linear-gradient(top, $color 0%, $darken 100%);
    background: linear-gradient(to bottom, $color 0%, $darken 100%);
}

.css-btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    position: relative;
    overflow: hidden;
    font-family: Arial;
    font-size: 14px;
    @include btn(#ffffff);
    border: 1px solid #d4d4d4;
    // text-shadow: -1px -1px 0 rgba(0,0,0,0.3);


    &:hover,
    &:focus {
    }

    &:focus {
        outline: none;
    }

    &:active,
    &.cb-active {
        box-shadow: inset 1px 1px 3px #444424;
    }

    //Colors
    &.css-btn-black {
        @include btn(#464646);
    }
    &.css-btn-tan {
        @include btn(#D2B48C);
    }
    &.css-btn-blue {
        @include btn(#084C9E);
    }
    &.css-btn-azure {
        @include btn(#007FFF);
    }
    &.css-btn-olive {
        @include btn(#808000);
    }
    &.css-btn-golden {
        @include btn(#FFD700);
    }
    &.css-btn-salmon {
        @include btn(#FA8072);
    }
    &.css-btn-red {
        @include btn(#DC143C);
    }

    // Border Radiuses
    &.css-br {
        @include border-radius(3px);
    }
    &.css-br-lg {
        @include border-radius(10px);
    }
    &.css-br-cc {
        @include border-radius(50%);
        padding: 10px 14px 10px 14px;
    }

    //Sizes
    &.css-btn-sm {
        font-size: 11px;
        padding: 8px;
    }
    &.css-btn-sm.css-br-cc {
        padding: 8px 11px 8px 11px;
    }
    &.css-btn-lg {
        font-size: 17px;
        padding: 12px;
    }
    &.css-btn-lg.css-br-cc {
        padding: 13px 17px 11px 17px;
    }
}
