.examples {
    padding: 4px;
    .example {
        padding: 20px;
        border: 1px solid #e4e4e4;
        margin: 10px 0;
        border-radius: 3px;
        font-family: 'Dosis', sans-serif;

        .code {
            xmp {
                white-space: pre-line;
                padding: 8px;
                background: #e0e0e0;
                display: inline-block;
                border-radius: 4px;
                box-shadow: inset 0px 1px 2px grey;
            }
        }
        .css-btn {
            margin-right: 15px;
        }

        .title {
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: bold;
        }

        .item {
            margin-bottom: 5px;

            .title {
                color: #868686;
            }
        }
    }
}
